<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="word3" class="com.sz.et.models.TranslationWord">
       <property name="engWord" value="Hello World!"/>
       <property name="rusWord" value="Привет мир!"/>
  	</bean>

	<bean id="word5" class="com.sz.et.models.TranslationWord">
       <constructor-arg name="engWord" value="constructor"/>
       <constructor-arg name="rusWord" value="конструктор"/>
  	</bean>	

    <!-- more bean definitions go here -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:file:~/sample" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	
	<bean id="localSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.sz.et.models" />
        <property name="hibernateProperties">
            <props>
            	<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
            	<prop key="hibernate.show_sql">true</prop>
            	<prop key="hbm2ddl.auto">create-drop</prop>
            </props>
        </property>
    </bean>
	
</beans>