<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:annotation-config />

	<bean id="word3" class="com.sz.et.models.TranslationWord">
		<property name="engWord" value="Hello World!" />
		<property name="rusWord" value="Привет мир!" />
	</bean>

	<bean id="word5" class="com.sz.et.models.TranslationWord">
		<property name="engWord" value="constructor" />
		<property name="rusWord" value="конструктор" />
	</bean>

	<bean id="word6" class="com.sz.et.models.TranslationWord">
		<constructor-arg name="engWord" value="anonim" />
		<constructor-arg name="rusWord" value="аноним" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:file:~/sample" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="localSessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.sz.et.models" />
		<property name="hibernateProperties">
			<map>
				<entry key="hibernate.dialect" value="org.hibernate.dialect.H2Dialect" />
				<!-- <entry key="hibernate.hbm2ddl.auto" value="create" /> -->
				<entry key="hibernate.hbm2ddl.import_files" value="import_data.sql" />
				<entry key="hibernate.show_sql" value="true" />
			</map>
		</property>
	</bean>

	<bean id="translationWordService" class="com.sz.et.dao.impl.TranslationWordService">
		<!-- <constructor-arg name="sessionFactory" ref="localSessionFactory"/> -->
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


</beans>